.bottombar {
    background-color: #555;
    overflow: hidden;
    margin: auto;
    max-width: 80%;
    height: auto;       
  }


.bottombar p{
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-size: 1em;
}